<ion-modal-view>
  <form name="create_form" ng-submit="create(create_form)">
  <ion-header-bar class="bar-assertive">
    <button class="button button-clear" type="button" ng-click="hide()">取消</button>
    <h1 class="title">创建活动</h1>
    <button class="button button-clear" type="submit" side="secondary">创建</button>
  </ion-header-bar>
  <ion-content>
    <ion-list class="padding emotion-form" >
      <ion-item class="item-input" ng-class="{error:create_form.name.$invalid &&create_form.$submitted}">
        <span class="input-label">活动名称</span>
        <input name="name" type="text" placeholder="请输入活动名称" ng-model="formData.name" required>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">活动类型</span>
        <select name="type" ng-model="formData.type" ng-change="getResources()" ng-init="getResources()">
          <option value="1" ng-selected="selected">足球</option>
          <!--<option value="2">篮球</option>-->
          <option value="3">羽毛球</option>
          <!--<option value="4">登山</option>-->
          <!--<option value="5">自驾游</option>-->
          <option value="0">其他</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">活动地点</span>
        <select name="rid" ng-model="formData.rid">
          <option ng-repeat="list in resourcesLists" value="{{list.rid}}">{{list.rname}}</option>
        </select>
      </ion-item>
      <ion-item class="item-input" ng-class="{error:create_form.startDate.$invalid &&create_form.$submitted}">
        <span class="input-label">活动开始时间</span>
        <input name="startDate" type="datetime-local" ng-model="formData.startDate" required>
      </ion-item>
      <ion-item class="item-input" ng-class="{error:create_form.endDate.$invalid &&create_form.$submitted}">
        <span class="input-label">活动结束时间</span>
        <input name="endDate" type="datetime-local" ng-model="formData.endDate" required>
      </ion-item>
      <ion-item class="item-input" ng-class="{error:create_form.limit.$invalid &&create_form.$submitted}">
        <span class="input-label">成员上限</span>
        <input name="limit" type="tel" placeholder="请输入活动报名人数上限" ng-model="formData.limit" required ng-pattern="/^\d*$/">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">活动费用</span>
        <input name="price" type="text" placeholder="请输入本次活动总体费用" ng-model="formData.price" ng-pattern="/^[\d\.]*$/">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">备注</span>
        <input name="bak" type="text" placeholder="请输入本次活动备注，如活动公告" ng-model="formData.bak">
      </ion-item>
    </ion-list>
  </ion-content>
  <button  class="bar bar-footer bar-energized bar-button" type="submit"><b>创建</b></button>
  </form>
</ion-modal-view>
