<ion-view view-title="创建活动">
  <!--<ion-nav-buttons side="secondary">
  <a class="button button-small button-icon icon ion-ios7-more"></a>
  </ion-nav-buttons>-->
  <ion-content class="padding">
  <ion-list>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">活动名称</span>
      <input type="text" placeholder="请输入活动名称">
    </ion-item>
    <ion-item class="item-input item-select">
      <span class="input-label">场地</span>
      <select>
        <option>淘宝城足球场</option>
        <option>黄龙体育场</option>
      </select>
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">活动开始时间</span>
      <input type="date">
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">活动结束时间</span>
      <input type="date">
    </ion-item>
    <ion-item class="item-input item-select">
      <span class="input-label">成员下限</span>
      <select>
        <option>0</option>
        <option>1</option>
      </select>
    </ion-item>
    <ion-item class="item-input item-select">
      <span class="input-label">成员上限</span>
      <select>
        <option>不限</option>
        <option>0</option>
        <option>1</option>
      </select>
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">活动费用</span>
      <input type="text" placeholder="请输入本次活动总体费用">
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">备注</span>
      <input type="text" placeholder="请输入本次活动备注，如活动公告">
    </ion-item>
      <button class="button button-block button-balanced">
        创建
      </button>
  </ion-list>

  </ion-content>
</ion-view>
