<ion-view view-title="{{detail.name}}">
  <ion-nav-buttons side="secondary">
  <a class="button button-small button-icon icon ion-ios7-more" ng-controller="ActionSheet" ng-click="show()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
  <ion-list>
    <ion-item class="item-divider">
      活动
    </ion-item>
    <ion-item>
      组织者
      <span class="item-note">{{nick}}</span>
    </ion-item>
    <ion-item>
      开始时间
      <span class="item-note">{{detail.stime}}</span>
    </ion-item>
    <ion-item>
      结束时间
      <span class="item-note">{{detail.etime}}</span>
    </ion-item>
    <ion-item>
      活动状态
      <span class="item-note">{{status}}</span>
    </ion-item>
    <ion-item class="item-divider">
      场地
    </ion-item>
    <ion-item class="item-avatar">
      <img src="{{$root.CustomDatas.host}}{{detail.resource.rpic}}">
      <h2>{{detail.resource.rname}}</h2>
      <p>{{detail.resource.add}}</p>
    </ion-item>
    <ion-item class="item-divider">
      成员
    </ion-item>
    <ion-item>
      成员上限
      <span class="item-note">{{detail.allsize}}人</span>
    </ion-item>
    <ion-item class="item-icon-right" href="#tab/{{path}}/{{detail.aid}}">
      已报名
      <span class="item-note">{{detail.psize}}人</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-divider">
      费用
    </ion-item>
    <ion-item>
      总价
      <span class="item-note">{{detail.price}}</span>
    </ion-item>
    <ion-item>
      人均
      <span class="item-note">{{detail.price/detail.psize}}</span>
    </ion-item>
    <ion-item class="item-divider">
      备注
    </ion-item>
    <ion-item class="item-text-wrap">
      {{detail.bak}}
    </ion-item>
  </ion-list>
  </ion-content>
  <ion-bar ng-class="{'bar-balanced':detail.actstatus==1}" class="bar bar-footer">
    <a class="h1 title" ng-show="detail.actstatus == 1 && ($root.CustomDatas.from!='tab.join' && !detail.signstatus)" ng-click="join({{detail.aid}})">
      报名
    </a>
    <a class="h1 title" ng-show="detail.actstatus == 1 && ($root.CustomDatas.from=='tab.join' || detail.signstatus)" ng-click="quit({{detail.signrecordid}})">
      取消报名
    </a>
    <p class="h1 title" ng-show="detail.actstatus == 2">
      活动已结束
    </p>
    <p class="h1 title" ng-show="detail.actstatus == 3">
      活动已失效
    </p>
    </div>
  </ion-bar>
</ion-view>
