<ion-view view-title="活动">
  <ion-nav-buttons side="secondary">
  <a class="button button-small button-icon icon ion-ios7-plus-empty" href="#tab/create"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="list in lists" type="item-text-wrap" href="#/tab/lists/{{list.aid}}">
        <img ng-src="{{list.resource.rpic}}">
        <h2>{{list.name}}</h2>
        <p>已报:{{list.csize}}, 剩余:{{list.allsize-list.csize}}</p>
        <p>开始时间:{{list.start}}</p>
        <p>结束时间:{{list.end}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(list)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

