<ion-view view-title="使用手机号登录">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input">
        <input type="text" placeholder="请填写手机号码">
      </ion-item>
      <ion-item class="item-input">
        <input type="password" placeholder="请填写密码">
      </ion-item>
      <button class="button button-block button-balanced">
        登录
      </button>
      <p style="text-align:right" class="positive">
        <a style="right">忘记密码？</a>
      </p>
    </ion-list>
    <ion-list>
      <a class="button button-small button-light" href="#/tab/register">
        注册
      </a>
    </ion-list>

  </ion-content>
</ion-view>
