<ion-view  view-title="使用手机号登录">
  <ion-nav-buttons >
  <a class="button button-clear" ng-click="goBack()">取消</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  <a class="button button-clear " href="#admin/register">注册</a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input">
        <input ng-model="formData.phone" type="text" placeholder="请填写手机号码">
      </ion-item>
      <ion-item class="item-input">
        <input ng-model="formData.pw" type="password" placeholder="请填写密码">
      </ion-item>
      <button class="button button-block button-balanced" ng-click="login()">
        登录
      </button>
      <p style="text-align:right" class="positive">
        <a style="right">忘记密码？</a>
      </p>
    </ion-list>
  </ion-content>
</ion-view>
