<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.emotion692756" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>eMotion</name>
  <description>
      An Ionic Framework and Cordova project.
  </description>
  <author email="nunumick@gmail.com" href="http://nunumick.github.io/">
    nunumick
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="welcome"/>
  <preference name="SplashScreenDelay" value="3000"/>
</widget>
